{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>CampusConnect</title>

        <link rel="stylesheet" href="{% static 'styles/sign-up.css'%}">
    </head>

    <body>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role=""alert>
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times</span>
        </button>
        </div>
        {% endfor %}

        <main>
        <section>
            <div class="container">

                <div class="left_box">
                    <h2>Get Started.</h2>

                    <div class="login-form">
                        <form action="/signup" method = "post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label">Userame</label><br>
                                <input type="text" id="username" name="username" class="form-input" placeholder="Enter Your Name" autocomplete="on" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">First Name</label><br>
                                <input type="text" id="fname" name="fname" class="form-input" placeholder="Enter Your Email" autocomplete="on" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Last Name</label><br>
                                <input type="text" id="lname" name="lname" class="form-input" placeholder="Enter Your Email" autocomplete="on" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Email</label><br>
                                <input type="email" id="email" name="email" class="form-input" placeholder="Enter Your Email" autocomplete="on" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Password</label><br>
                                <input type="password" id="pass1" name="pass1" class="form-input" placeholder="Enter Your Password" autocomplete="on" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Confirm Password</label><br>
                                <input type="password" id="pass2" name="pass2" class="form-input" placeholder="Confirm Your Password" autocomplete="on" required>
                            </div>

                            <div class="login-button">
                                <button type="submit">
                                    Sign Up!
                                </button>
                            </div>
                        </form>
                        <script src="" async defer></script>

                        <p>Already have an account? <a href="{% url 'signin' %}">Login Here!</a></p>
                    </div>
                </div>

                <div class="right_box">
                    <img src="{% static 'images/sign-up.png' %}" alt="">
                </div>
                
            </div>
        </section>
    </main>

    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script>
        gsap.from('main', {opacity: 0, duration: 1, delay:0.5, y: 10})
    </script>
    </body>
</html>